.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  height: 60px;
  width: 60vw;

  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 90%;
}

.loginButton{
  background-color: #fff!important;

  position: absolute!important;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  left: 90%;
  top: 5%;
  width: 3rem;
  height: 3rem;
}

.loginIcon{
  width: 1.8rem!important;
  height: 1.8rem!important;
}

/* .login{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
} */

.shade--enter {
  opacity: 0;
}

.shade--enter-active{
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.shade--exit {
  opacity: 1;
}

.shade--exit-active {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.shade{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1001;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.closeIcon{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: calc(50% + 160px);
  top: calc(-450px + 2rem);
  /* left: 0; */
}

@media screen and (max-width: 400px) {
  .closeIcon{
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: calc(50% + 4 / 5 * 90vw / 2);
    top: calc(-450px + 2rem);
    /* left: 0; */
  }
}
